hr {
  background-color: lightblue;
}

hr {
  background-color: #14171a;
  border-style: none;
  border-top-style: dotted;
  border-color: #14171a;
  border-width: 5px;
  width: 5%
}

.img { display:inline-block;
        image height: auto:
        image width: auto:
}

h1 {
  color: #66BFBF;
}

h3 {
  color: #66BFBF;
}
