



hr

{
      background-color: lightblue;
}


hr

{
      background-color: #14171a;
      image height: 20px;
      image width: 20px;
      border-style: none;
      border-top-style: dotted;
      border-color: #14171a;
      border-width: 5px;
      width:5%;
}
